body {
    font-family: "Lucida Grande", "Lucida Sans Unicode";
    font-size: 1.333em;
    line-height: 1.688;
    color: #333;
}

section {
    padding: 50px 0px;
}

h1, h2, .hero-heading, .caption { font-family: "Helvetica Neue"; }
h1 {
    font-weight: 400;
    font-size: 64px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-weight: 200;
    font-size: 38px; 
    margin-top: 20px;
}


#program h1 { color: PaleVioletRed; }
#eating h1 { color: Orange; }
#nightlife h1 { color: YellowGreen; }
#travelling h1 { color: SteelBlue; }
#tips h1 { color: Teal; }
#contribute h1 { color: Chocolate; }

#program .extra-margin { margin-left: 40px; }
#contribute .extra-margin { margin-bottom: 40px; }

#hero {
    background-image: url(../img/buenos-aires-2.jpg);
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-color { background-color: #f6f6ee; }

.hero {
    position: relative;
    top: 150px;
    margin: 0px 140px;
    text-align: center;
}

.hero-heading {
    font-weight: lighter;
    font-size: 82px;
}

.hero-text { font-size: 18px; }


.round-image {
    margin: 20px 20px; 
    padding: 5px;
    border-radius:100%;
    width:140px;
    height:140px;
    display: inline-block;
}


#program .nav-tabs {border: none;}
#program a, 
#program a:hover,
#program a:focus {
    background-color: transparent;
    text-decoration: none;
    border: none;
}

#program li { 
    width: 200px;
}

#program li img{ 
    border: 2px solid transparent; 
}

#program li img:hover  {
    border: 2px solid #ccc;
    -webkit-transition: border 200ms ease-in-out;
    -moz-transition: border 200ms ease-in-out;
    transition: border 200ms ease-in-out;
}

#program li.active img{ 
    border: 2px solid #08c; 
    -webkit-transition: border 500ms ease-in-out;
    -moz-transition: border 500ms ease-in-out;
    transition: border 500ms ease-in-out;
}

.li-text, .caption, .tip-text  { 
    font-size: 1.1em;
    line-height: 1.8;
}

.li-text b { 
    position: relative;
    left: -20px;
}


.sidebar  {
    margin: 20px 50px;
    width: 200px;
    color: #999;
}

.sidebar .heading { font-size: 1.3em; }
.sidebar .sidebox-1 .heading { color: green; }
.sidebar .sidebox-2 .heading { color: #52A4AB; }
.sidebar .sidebox-3 .heading { color: PaleVioletRed; }
.sidebar .sidebox-4 .heading { color: Teal; }
.sidebar .sidebox-5 .heading { color: SeaGreen; }
.sidebar .sidebox-6 .heading { color: DarkGoldenRod ; }
 
.sidebar .sidebox-1 { 
    border-top: 2px solid green; 
}
.sidebar .sidebox-2 { 
    border-top: 2px solid #52A4AB; 
}
.sidebar .sidebox-3 { 
    border-top: 2px solid PaleVioletRed; 
}
.sidebar .sidebox-4 { 
    border-top: 2px solid Teal; 
    margin-top: 60px; 
}
.sidebar .sidebox-5 { 
    border-top: 2px solid SeaGreen; 
    margin-top: 70px; 
}
.sidebar .sidebox-6 { 
    border-top: 2px solid DarkGoldenRod; 
    margin-top: 80px; 
}

#gallery { 
    padding: 0; 
    margin-bottom: -40px;
} 
#gallery .caption {
    position: relative;
    top: -40px;
    height: 40px;
    color: #fff;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
}

#tips .icon {
    display: inline-block;
    vertical-align: top;
    height: 47px;
    width: 47px;
    border-radius: 100%;
}

.icon-1 { background-color: green; }
.icon-2 { background-color: #52A4AB; }
.icon-3 { background-color: PaleVioletRed; }
.icon-4 { background-color: Teal; }
.icon-5 { background-color: Chocolate; }
.icon-6 { background-color: FireBrick; }
.icon-7 { background-color: DodgerBlue; }
.icon-8 { background-color: DeepSkyBlue; }

.tip-box { margin-top: 20px; }
.tip-text {
    width: 250px;
    margin-left: 20px;
    display: inline-block;
}

.tip-text b { font-size: 1.2em; }

.form-control {
    height: 75px;
    margin-bottom: 27px;
    padding: 18px;
    border: 4px solid #ebe5da;
    border-radius:0%;
    background: none;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #ebe5da;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    height:60px;
    border: none;
}

#footer .logo1 img {
    margin-top: 10px;
    height: 120px;
    width: 150px;
}

#footer .logo2 img {
    max-height: 140px;
    max-width: 140px;
}
