

#london-image {
    background-image: url(../img/london.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;

}

.programs li, .eat-list li {
    position: relative;
    height: 108px;
    width: 400px;
    margin-bottom: 20px;
    border: solid;
    font-family: FontAwesome;
    font-size: 1.2em;
    /*background-color: #512C51;   
    color: #fff;*/
}

.programs li:hover, .eat-list li:hover {
    cursor: pointer; cursor: hand;
    background-color: #ddd;
}

.program-list .rotate, .eat-list .rotate {
    position:absolute;
    width: 10px;
    top: 100px;
    /*left: -40px;*/
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
   /* background-color: #FF8A54;*/
    -webkit-transform-origin: 0 0;
    -webkit-transform:rotate(-90deg);
}


.program-list .name, .eat-list .name {
    text-transform: uppercase;
}

.program-list .name, .program-list .desc, .eat-list .name, .eat-list .desc{
    margin: 25px 0 0 50px;
}

li.selected { 
    background-color: #aaa; 
}


.program-text { 
    height: 880px;
    border: solid;
    font-family: FontAwesome;
    font-size: 1.5em;
    overflow: auto;
    position: relative;
}

.program-info {
    display: none;
    margin: 40px;
    position: absolute;
    height: 100%;
}


.place-image {
    margin: 20px; 
    border-radius:50%;
    width:275px;
    height:275px;
    vertical-align: middle;
    display: inline-block;
}

#eat .place-image, #travel .place-image{    
    width:200px;
    height:200px;
}


.eat-list {
    max-width: 300px;
    margin-top: 30px;
}



.eat-list .rotate {
    top: 110px;
    width: 120px;
    font-size: 0.8em;
}

.eat-info {
    margin: 40px;
    display: none;
}

.eat-text { 
    height: 880px;
    border: solid;
    font-family: FontAwesome;
    font-size: 1.5em;
    overflow: auto;
    position: relative;
    left: 40px;
}

.eat-image-tag {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width:95px;
    height:95px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.placerating {
  display:inline-block;
  height:39px;
  width:211px;
  background:url(../img/stars.png) 0 0 no-repeat;
}
  .placerating.star-1 { background-position:0 -39px; }
  .placerating.star-2 { background-position:0 -78px; }
  .placerating.star-3 { background-position:0 -117px; }
  .placerating.star-4 { background-position:0 -156px; }
  .placerating.star-5 { background-position:0 -195px; }


hr.line{
    margin: 35px auto;
    max-width: 250px;
    border-top: solid 2px;
    text-align: center;
    border-color: #2c3e50;
}

#travel .row {
    margin-top: 50px;
}

.form-control {
    height: 75px;
    margin-bottom: 30px;
    padding: 18px;
    border: 4px solid #ebe5da;
    border-radius:0%;
    background: none;
    color: #fff; 
    font-family: FontAwesome;
    font-size: 1.2em;
}

.form-control::-webkit-input-placeholder
{
  color: #fff;
}

.big-font {
    font-family: FontAwesome;
    font-size: 1.5em;
}

.submit-button {
    width: 100%;
    padding: 20px;
    background-color: #ebe5da;
    color: #18bc9c;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    height:60px;
    font-family: FontAwesome;
    font-size: 1em;
    border: none;
}


.logo {
    margin-top: 50px;
}