.bigBox {
	height: 400px;
	width: 300px;
	border: solid;
	position: absolute;
}


.yellow{
  background-color:yellow;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;

} 

.green {
  background-color:green; 
  position: relative;
  height: 100%;
  width: 100%;
}
