.bigBox {
	height: 400px;
	width: 300px;
	border: solid;
	position: relative;
  top: 50px;
}


.yellow, .green, .purple{
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;

} 

.green {
  display: block;
}

