<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Berlin | Unofficial Study Abroad Guide</title>

  <!--  CSS  -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/berlin.css">

  <!--  Fonts  -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>

  <!--  Javascript -->
  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/city-page.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  <!-- GOOGLE ANALYTICS TRACKING CODE -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63900118-3', 'auto');
  ga('send', 'pageview');

  </script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img class="globe-image hidden-sm hidden-md visible-lg" src="img/globe-logo.png">
        </a>
        <a class="navbar-brand" href="/">
          Study Abroad Guide
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li class="page-scroll">
            <a href="#hero">About</a>
          </li>
          <li class="page-scroll">
            <a href="#program">Program</a>
          </li>
          <li class="page-scroll">
            <a href="#eating">Eating</a>
          </li>
          <li class="page-scroll">
            <a href="#nightlife">Nightlife</a>
          </li>
          <li class="page-scroll">
            <a href="#travelling">Travelling</a>
          </li>
          <li class="page-scroll">
            <a href="#tips">Tips</a>
          </li>
          <li class="page-scroll">
            <a href="#contribute">Contribute</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <section id="hero">
    <div class = "hero">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p class = "hero-heading"> Berlin </p>
          <!-- TODO: Get a quote -->
          <!-- <p class = "hero-text"> "***Student quote***" <br> - Name, Program Name, Quarter and Year</p> -->
        </div> <!--column-->
      </div> <!--row-->
    </div>
  </section>

  <section id="program" class="">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1><a href="http://www.ipd.northwestern.edu/study-abroad/explore/europe/berlin-global-city.html" target="_blank">NU-IPD - Global City in the Center of Europe</a></h1>
        </div>
      </div> <!-- row -->

      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="active col-md-4"><a href="#class" data-toggle="tab"><img class="round-image" src="img/class.jpg"></a></li>
            <li><a class="col-md-4" href="#living" data-toggle="tab"><img class="round-image" src="img/living.jpg"></a></li>
            <!-- <li><a class="col-md-4" href="#peers" data-toggle="tab"><img class="round-image" src="img/peers.jpg"></a></li> -->
          </ul>
        </div> <!--column-->
      </div> <!--row-->

      <div class="tab-content">
        <div class="row li-text tab-pane fade in active" id="class">
          <div class="col-md-4 col-md-offset-2 extra-margin">
            <b> Level of Difficulty - Difficult </b><br>
            <li> The program is comprised of 50% Northwestern and 50% the German university </li>
            <li> The Northwestern component is fairly time intensive, but not at all impossible </li>
            <li> Students have about 3 hours of class a day, and approximately 8 hours of work to do outside of class </li>

            <br><b> Receiving NU Credit </b>
            <li> You will receive 2 credits </li>
            <!-- <li> Credit earned by past students: *** </li> -->

            <!-- <br><b> *Credit Requirements* </b>
            <li> *** </li> -->
          </div> <!--column-->
          <!-- <div class="col-md-4">
          <b>Classes Taken by Previous Students </b>
          <li> *** </li>
          <li> *** </li>

          <br><b> Other Requirements </b>
          <li> *** </li>
          <li> *** </li>
        </div> -->
      </div> <!--row-->

      <div class="row li-text tab-pane fade " id="living">
        <div class="col-md-4 col-md-offset-2">
          <li> You will be living in a youth hostel, living with about 300 people </li>
        </div> <!--column-->
        <div class="col-md-4 extra-margin">
          <li> A slight downside to this is that there is only 1 kitchen, 1 laundry machine, and 1 dryer unit for the whole building </li>
        </div> <!--column-->
      </div> <!--row-->

      <!-- <div class="row li-text tab-pane fade" id="peers">
      <div class="col-md-4 col-md-offset-2">
      <li> ***peer info***</li>
    </div> <!--column-->
    <!-- <div class="col-md-4 extra-margin">
    <li> ***peer info***</li>
  </div> <!--column-->
  <!-- </div> <!--row-->
</div> <!--tab-content-->

</div> <!--container-->
</section>



<section id="eating" class="bg-color">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Eating</h1>
        <h2> Germany is not a good place to be a vegetarian </h2>
      </div> <!--column-->
    </div> <!--row-->
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div class="li-text"><p>
          <ul>
            <li>Students received stipends for breakfast </li>
            <li>Weekly spending: 30 euros if you do not eat out, 50 euros if you do </li>
            <li>You won't have to spend too much if you can cook for yourself in the kitchens provided, as ingredients are cheap </li>
            <li>Cake and coffee are customary on Sundays </li>
            <li>Most places are closed on Sundays </li>
            <li>Fresh produce comes in on Mondays and Thursdays </li>
            <li>Breakfast food is usually cold cut meat </li>
            <li>If you go to Starbucks, make sure you specify to put more espresso shots in, otherwise they'll only put in one or two</li>
            <li>Recommendations to try:
              <ul>
                <li>Bratwurst</li>
                <li>Currywurst</li>
                <li> Pork knuckle</li>
                <li>Ice Kaffe (coffee with ice cream)</li>
                <li>Radler (half beer half lemonade)</li>
                <li>Apfelschorle (apple juice and sparkling water)</li>
                <li>Spezi (nonalcoholic beverage)</li>
              </ul>
            </li>
          </ul></p>
        </div>
      </div> <!--column-->
      <div class="col-md-2 sidebar hidden-sm hidden-md visible-lg">
        <!-- <div class="sidebox-1">
        <p class="heading"> Time of meal </p>
        <p>
        Breakfast: ***<br>
        Lunch: ***<br>
        Dinner: ***
      </p>
    </div> -->
    <div class="sidebox-1">
      <p class="heading"> Places to eat</p>
      <p>
        <b>Restaurants </b><br>
        Mustafas (D&ouml;ner kebab stand) <br>
        Berlin Burger <br>
        Ch&eacute;n Ch&egrave; (Vietnamese) <br><br>
        <b>Grocery Stores </b><br>
        Nettos (cheapest) <br>
        Edeka (middle) <br>
        Kaiser (higher end)
      </p>
    </div>
  </div> <!--column-->
</div> <!--row-->
</div> <!--container-->
</section>



<section id="nightlife" class="" >
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Night Life</h1>
      </div> <!--column-->
    </div> <!--row-->
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div class="li-text"><p>
          <b> What to wear </b><br>
          <li> When you go out, try to look more hip and casual </li>
          <li> Do not wear dress shirts; it'll come across as though you're too try-hard </li>
          <li> Avoid dressing like a tourist </li>
          <br><b>Legal Age</b><br>
          <li>21+ for clubs, but they don't card strictly</li>
          <li>18+ for hard alcohol</li>
          <li> 16+ for beer and wine</li>
          <li> There are no open container laws - it's legal to drink in public! Just make sure to be smart about it.</li>
          <br><b>Bars and Clubs</b><br>
          <li> Bars: Dr. Pong (good for weekdays), Bar 55 (liter cocktails), Winrei (all you can drink wine bar for <i>2 euros</i>, but the catch is that they ask you to pay the amount you think you consumed at the end)</li>
          <li> Clubs: Berghain (most famous club and is very exclusive, not surprising to find a 3 hour line where you may even get turned away at the door </li>
          <li> Bar scene is completely different from the club scene (clubs are very techno, no pop music) </li>
          <li> A lot of people are under the influence of drugs, so be aware</li>
          <li> Women - Be very wary of men who <i>thigh-slap</i> you - as this is a sexual advance</li>
          <li> As Germans tend to be xenophobic, speak as much German as you can at clubs, not English</li>
          <br><b>Fun fact</b><br>
          <li> Beer is cheaper than bottled water</li>
        </div>
      </div> <!--column-->
      <div class="col-md-2 hidden-sm hidden-md visible-lg sidebar">
        <div class="sidebox-2">
          <p class="heading"> Typical night </p>
          <p>
            11pm/Midnight: Go to bar<br>
            2/3am: Head to a nightclub<br>
            4/5am: Get home
          </p>
        </div>
      </div> <!--column-->
    </div> <!--row-->
  </div> <!--container-->
</section>


<section id="gallery">
  <div class="caption">"<a href="https://commons.wikimedia.org/wiki/File:Brandenburger_Tor_abends.jpg#/media/File:Brandenburger_Tor_abends.jpg">Brandenburger Tor abends</a>" by Thomas Wolf, <a rel="nofollow" class="external text" href="http://www.foto-tw.de">www.foto-tw.de</a>.</div>
</section>


<section id="travelling" class="bg-color">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Travelling</h1>
      </div> <!--column-->
    </div> <!--row-->
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div class="li-text">
          <b> Travelling within Berlin </b>
          <li> The Mauer Park Floh Markets (great flea market, lots of performers, a great cultural experience) </li>
          <li> Parades: Gay Pride at the East Side Gallery in the Summer, Christopher Street Parade</li>
          <li> Kreuzberg (hip neighborhood) </li>
          <li> Berlin Beer Festival at Central Park</li>
          <li> Reichstag Building and Bradenburg Gate (historical site from the Berlin War)</li>
          <li> Berlin Cathedral </li>

          <br><b> Day/Weekend Trips </b>
          <li> Don't go to Weimar (people are racist, it's not very fun, and it's in the countryside)</li>
          <li> Hamburg (good Portuguese food, it's a port city, and has a nice nightlife for young people)</li>
          <li> Austria</li>
        </div>
      </div> <!--column-->
      <div class="col-md-2 hidden-sm hidden-md visible-lg sidebar">
        <div class="sidebox-3">
          <p class="heading"> Transportation </p>
          <p>
            <b> Public Transportation </b><br>
            Make use of it! Berlin is too large to just walk around. <br>
            Trains are closed from 1 to 4am - plan accordingly. <br>
            Also, don't talk too loudly on the trains, as they will glare at you <br><br>
            <b> Walking </b><br>
            There is a <i>very</i> large bicycle culture in Berlin, so make sure to stay away from the bike lanes.
          </p>
        </div>
        <div class="sidebox-5">
          <p class="heading"> Museums </p>
          <p>
            Museum Island: The program gives students a pass for all five museums on the island.
          </p>
        </div>
      </div> <!--column-->
    </div> <!--row-->
  </div> <!--container-->
</section>


<section id="tips">
  <div class="container li-text">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1> Last Minute Tips </h1>
      </div> <!--column-->
    </div> <!--row-->
    <div class="row">
      <div class="col-md-4 col-md-offset-2 tip-box">
        <div class="icon icon-1"></div>
        <div class="tip-text">
          <b> Hair-care </b><br>
          Germany has hard running water, and makes your hair really rough, so bring hair-care products.
        </div>
      </div> <!--column-->
      <div class="col-md-4 tip-box">
        <span class="icon icon-2"></span>
        <div class="tip-text">
          <b> Flight </b><br>
          Apply for Max Cade travel scholarship before you go, as they will pay for your flights.
        </div>
      </div> <!--column-->
    </div> <!--row-->
    <div class="row">
      <div class="col-md-4 col-md-offset-2 tip-box">
        <div class="icon icon-3"></div>
        <div class="tip-text">
          <b> Safety </b><br>
          There are a lot of scammers - avoid women and little children asking you to do something. They'll try to take things from you. Don't feel bad about not helping them.
        </div>
      </div> <!--column-->
      <div class="col-md-4 tip-box">
        <span class="icon icon-4"></span>
        <div class="tip-text">
          <b> Communication </b><br>
          The program buys a phone for you to use during your stay. This will help you keep in contact with your peers in the city/country. To contact back home, look for Wi-Fi and use WhatsApp or Viber on a smartphone.
        </div>
      </div> <!--column-->
    </div> <!--row-->
    <div class="row">
      <div class="col-md-4 col-md-offset-2 tip-box">
        <div class="icon icon-5"></div>
        <div class="tip-text">
          <b> Bottled Water </b><br>
          Bottled water is very expensive, and you typically cannot get tap water for free at restaurants, so make sure you bring a water bottle (it is safe to drink from taps).
        </div>
      </div> <!--column-->
    </div> <!--row-->
  </div> <!--container-->
</section>


<section id="contribute" class="bg-color" >
    <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1> Contribute </h1>
        <h2 class="extra-margin"> See something missing? Let us know! </h2>
      </div> <!--column-->
    </div> <!--row-->
    <form id="feedback" role="form" method="post" action="/feedback">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Your Name">
                        <input type="text" name="program" class="form-control" placeholder="Your City and Program">
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address (required)" required>
                    </div>
            </div> <!-- col -->
            <div class="col-lg-4">
                <div class="form-group">
                    <textarea name="text" form="feedback" class="form-control" name="message" rows="7" placeholder="Shoot us your ideas (required)" required></textarea>
                </div>
                <input type="submit" name="submit" class="submit-button">
            </div>  <!-- col -->
        </div> <!-- row -->
    </form>
</section>

  <section id="footer" class="text-center">
    <div class="container">
      <div class="row">
        <div class="logo1 col-md-3">
          <img src="img/asg-logo.png">
        </div> <!-- col -->
        <div class="col-md-6">
          <h3>Associated Student Government</h3>
          <p>Norris University Center, Room 3F <br>
            1999 Campus Drive, Evanston, IL 60208 </p>
            <p> Copyright &copy; 2016 Associated Student Government </p>
          </div> <!-- col -->
          <div class="logo2 col-md-3">
            <img src="img/nu-logo.png">
          </div>  <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->
    </section>
  </body>
  </html>
