<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Study Abroad Guide</title>
  <!--  CSS  -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/copenhagen.css">
  <!--  Fonts  -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
  <!--  Javascript -->
  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/city-page.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  <!-- GOOGLE ANALYTICS TRACKING CODE -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-63900118-3', 'auto');
    ga('send', 'pageview');

  </script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
            	<img class="globe-image hidden-sm hidden-md visible-lg" src="img/globe-logo.png">
            </a>
            <a class="navbar-brand" href="/">
            	Study Abroad Guide
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#hero">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#program">Program</a>
                </li>
                <li class="page-scroll">
                    <a href="#eating">Eating</a>
                </li>
                <li class="page-scroll">
                    <a href="#nightlife">Nightlife</a>
                </li>
                <li class="page-scroll">
                    <a href="#travelling">Travelling</a>
                </li>
                <li class="page-scroll">
                    <a href="#tips">Tips</a>
                </li>
                <li class="page-scroll">
                    <a href="#contribute">Contribute</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section id="hero">
	<div class = "hero">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<p class = "hero-heading"> Copenhagen </p>
				<!-- <p class = "hero-text"> "Quote."<br> - Person</p> -->
			</div> <!--column-->
		</div> <!--row-->
	</div>
</section>

<section id="program" class="">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<a href="http://www.northwestern.edu/studyabroad/programs/europe/DIS-%20Study%20Abroad%20in%20Scandinavia-Copenhagen.html" target="_blank">
          <h2>Danish Institute for Study Abroad (DIS)</h2>
        </a>
			</div> <!--column-->
		</div> <!--row-->
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs">
					<li class="active col-md-4"><a href="#class" data-toggle="tab"><img class="round-image" src="img/class.jpg"></a></li>
					<li><a class="col-md-4" href="#living" data-toggle="tab"><img class="round-image" src="img/living.jpg"></a></li>
					<li><a class="col-md-4" href="#peers" data-toggle="tab"><img class="round-image" src="img/peers.jpg"></a></li>
				</ul>
			</div> <!--column-->
		</div> <!--row-->

		<div class="tab-content">
			<div class="row li-text tab-pane fade in active" id="class">
				<div class="col-md-4 col-md-offset-2 extra-margin">
					<li> Classes are easier than Northwestern classes </li>
					<li> You spend about 15 hours a week in class and 5 to 10 hours a week on homework </li>
				</div> <!--column-->
				<div class="col-md-4">
				</div> <!--column-->
			</div> <!--row-->

			<div class="row li-text tab-pane fade " id="living">
        <div class="row">
          <div class="special_heading">
            <b>You have a few options when comes to living:</b></br></br>
          </div>
        </div>
				<div class="col-md-4 col-md-offset-2">
					<b> Home Stay </b>
          <li> Host parents and brother </li>
					<li> Involves commuting to school, but Denmark has a good train system </li>
					<br><b> Dorms </b>
					<li> Called DRS and available for all DIS students</li>
					<li> Closest option to school </li>
					<br><b> Living & Learning Communities </b>
					<li> These are like residential colleges and are centered around themes (culinary, fine arts, outdoorsy) </li>
					<li> Only for American students  </li>
				</div> <!--column-->
				<div class="col-md-4 extra-margin">
					<b> Kollegiums </b>
					<li> Students from multiple schools live in the same dorm </li>
					<br> <b> Folkehojskole </b>
					<li> These are like boarding schools, and are the best option to intermix with Danish students </li>
					<br> <b> Danish Roommate </b>
					<li> Apartment style living, Danish students are older (23/24 years old at least) </li>
				</div> <!--column-->
			</div> <!--row-->

			<div class="row li-text tab-pane fade" id="peers">

				<div class="col-md-8 col-md-offset-2">
          All students in this program and at this institute are American students studying abroad

					<br> <br> <b> Pros </b>
					<li> Easy credit transfer </li>
					<li> Accommodates travel (there are weeks with no school) </li>
					<li> Classes go on field trips </li>
					<li> Classes are taught in English </li>
        </br>

          <b> Cons </b>
					<li> It is can be hard to meet Danish students (there are some opportunities but they are not heavily advertised)</li>
				</div> <!--column-->

			</div> <!--row-->
		</div> <!--tab-content-->

	</div> <!--container-->
</section>



<section id="eating" class="bg-color">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>Eating</h1>
				<h2> Check out the pizza place near the school and 7/11 for some cheap eats! </h2>
			</div> <!--column-->
		</div> <!--row-->
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<div class="li-text"><p>
					<b> Day-to-Day</b><br>
						<li> Expect to spend about $15 when going out to eat </li>
						<li> Students get a food stipend </li>
						<li> When in a home stay, it is normal not to spend anything during a week </li>
					</p>
				</div>
			</div> <!--column-->
			<div class="col-md-2 sidebar hidden-sm hidden-md visible-lg">
				<!-- <div class="sidebox-1">
					<p class="heading"> Time of meal </p>
					<p>
						MISSING
					</p>
				</div> -->
				<div class="sidebox-1">
					<p class="heading"> Places to eat</p>
					<p>
						<b>Restaurants </b>
						<br> Dalle Valle: Decent cheap eats
						<br> Sankt Peder's Bageri: Copenhagen's oldest bakey. Cinnamon Roll Wednesdays


						<br><br><b>Grocery Stores </b>
						<br> Netto: cheapest
						<br> Fo-Tex: a bit nicer
						<br> Aldi
						<br> Superbest: sort of like Whole Foods
					</p>
				</div>
			</div> <!--column-->
		</div> <!--row-->
	</div> <!--container-->
</section>



<section id="nightlife" class="" >
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>Night Life</h1>
			</div> <!--column-->
		</div> <!--row-->
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<div class="li-text"><p>
					<b>Club</b><br>
					<li> Kulorbar: Right near one of the dorms and many students go here </li>
					<li> Check out the meat packing district for a crazy night. It is and up and coming area for nightlife </li>

				</div>
			</div> <!--column-->
			<div class="col-md-2 sidebar hidden-sm hidden-md visible-lg">
				<div class="sidebox-2">
					<p class="heading"> Timing </p>
					<p>
						Go out super late <br>
						People start pregaming at 11 pm and stay out until 5 - 6 am
					</p>
				</div>
			</div> <!--column-->
		</div> <!--row-->
	</div> <!--container-->
</section>


<section id="gallery">
	<div class="caption">The Nyhavn District</div>
</section>


<section id="travelling" class="bg-color">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>Travelling</h1>
			</div> <!--column-->
		</div> <!--row-->
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<div class="li-text">
					<b> Traveling within Copenhagen </b>
					<li> Hamlet's Castle (day trip) </li>
					<li> Roskilde: Check out the cathedral where the Danish Monarchy are buried (day trip) </li>
					<li> Viking Ship Museum </li>
					<li> Christiania: A market with lots of handmade stuff </li>
					<li> Tivoli: An amusement park in Copenhagen </li>
				</div>
			</div> <!--column-->
			<div class="col-md-2 sidebar hidden-sm hidden-md visible-lg">
				<div class="sidebox-3">
					<p class="heading"> Travel Tips </p>
					<p>
						Use skyscanner.com to find plane tickets
					</p>
				</div>
			</div> <!--column-->
		</div> <!--row-->
	</div> <!--container-->
</section>


<section id="tips">
	<div class="container li-text">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1> Travel Tips </h1>
			</div> <!--column-->
		</div> <!--row-->
		<div class="row">
			<div class="col-md-4 col-md-offset-2 tip-box">
				<div class="icon icon-1"></div>
				<div class="tip-text">
					<b> Water </b><br>
					Drinking water is not always free, people typically drink bottled water
				</div>
			</div> <!--column-->
			<div class="col-md-4 tip-box">
				<span class="icon icon-2"></span>
				<div class="tip-text">
					<b> Tipping </b><br>
					Tipping is not necessary
				</div>
			</div> <!--column-->
			<div class="col-md-4 tip-box">
				<span class="icon icon-2"></span>
				<div class="tip-text">
					<b> Rain </b><br>
					Bring a rain jacket and rain boots
				</div>
			</div> <!--column-->
		</div> <!--row-->
		<div class="row">
			<div class="col-md-4 col-md-offset-2 tip-box">
				<div class="icon icon-3"></div>
				<div class="tip-text">
					<b> Winter </b><br>
					It is not necessary to bring a big winter coat
				</div>
			</div> <!--column-->
			<div class="col-md-4 tip-box">
				<div class="icon icon-3"></div>
				<div class="tip-text">
					<b> Public Transport </b><br>
					Don’t get caught without a pass on the rail or bus
				</div>
			</div> <!--column-->
			<div class="col-md-4 col-md-offset-2 tip-box">
				<div class="icon icon-3"></div>
				<div class="tip-text">
					<b> DIS Website </b><br>
					Check out the DIS website, it has lots of great information if you take the time to poke around. You can even find syllabi for every class
				</div>
			</div> <!--column-->
		</div> <!--row-->
	</div> <!--container-->
</section>

<section id="contribute" class="bg-color" >
    <div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1> Contribute </h1>
				<h2 class="extra-margin"> See something missing? Let us know! </h2>
			</div> <!--column-->
		</div> <!--row-->
    <form id="feedback" role="form" method="post" action="/feedback">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Your Name">
                        <input type="text" name="program" class="form-control" placeholder="Your City and Program">
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address (required)" required>
                    </div>
            </div> <!-- col -->
            <div class="col-lg-4">
                <div class="form-group">
                    <textarea name="text" form="feedback" class="form-control" name="message" rows="7" placeholder="Shoot us your ideas (required)" required></textarea>
                </div>
                <input type="submit" name="submit" class="submit-button">
            </div>  <!-- col -->
        </div> <!-- row -->
    </form>
</section>


<section id="footer" class="text-center">
    <div class="container">
        <div class="row">
            <div class="logo1 col-md-3">
                <img src="img/asg-logo.png">
            </div> <!-- col -->
            <div class="col-md-6">
                <h3>Associated Student Government</h3>
                <p>Norris University Center, Room 3F <br>
                1999 Campus Drive, Evanston, IL 60208 </p>
                <p> Copyright &copy; 2016 Associated Student Government </p>
            </div> <!-- col -->
            <div class="logo2 col-md-3">
                <img src="img/nu-logo.png">
            </div>  <!-- col -->
        </div> <!-- row -->
    </div> <!-- container -->
</section>

</body>
</html>
