<!DOCTYPE html>
<html>
<html>
<head>
  <title>Study Abroad Guide</title>
  <!--  CSS  -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/london.css">
  <!--  Fonts  -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
  <!--  Javascript -->
  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/city-page.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  <!-- GOOGLE ANALYTICS TRACKING CODE -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-63900118-3', 'auto');
    ga('send', 'pageview');

  </script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
            	<img class="globe-image hidden-sm hidden-md visible-lg" src="img/globe-logo.png">
            </a>
            <a class="navbar-brand" href="/">
            	Study Abroad Guide
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#hero">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#program">Program</a>
                </li>
                <li class="page-scroll">
                    <a href="#eating">Eating</a>
                </li>
                <li class="page-scroll">
                    <a href="#nightlife">Nightlife</a>
                </li>
                <li class="page-scroll">
                    <a href="#travelling">Travelling</a>
                </li>
                <li class="page-scroll">
                    <a href="#tips">Tips</a>
                </li>
                <li class="page-scroll">
                    <a href="#contribute">Contribute</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<section id="hero">
	<div class = "hero">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<p class = "hero-heading"> London </p>
				<p class = "hero-text"> "I loved the people I met and just getting to experience a new city and all that it has to offer."" <br> - Clair Wojciechowski, Arcadia Goldsmiths: University of London, Fall 2010 </p>
			</div> <!--column-->
		</div> <!--row-->
	</div>
</section>

<section id="program" class="">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>London School of Economics</h1>
			</div> <!--column-->
		</div> <!--row-->
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs">
					<li class="active col-md-4"><a href="#class" data-toggle="tab"><img class="round-image" src="img/class.jpg"></a></li>
					<li><a class="col-md-4" href="#living" data-toggle="tab"><img class="round-image" src="img/living.jpg"></a></li>
					<li><a class="col-md-4" href="#peers" data-toggle="tab"><img class="round-image" src="img/peers.jpg"></a></li>
				</ul>
			</div> <!--column-->
		</div> <!--row-->

		<div class="tab-content">
			<div class="row li-text tab-pane fade in active" id="class">
				<div class="col-md-4 col-md-offset-2 extra-margin">
					<b>Location </b><br>
					Central London <br><br>

					<b>Specialization </b><br>
					 Economics and Political Science <br><br>

					<b> Terms Offered </b><br>
					Summer, two three-week sessions (one class per session) or full year September thru July with Winter and Spring break <br><br>

					<b> Classes </b><br>
					<li> Pass/Fail: Yes </li>
					<li> Northwestern Credit: Yes </li>
					<li> Effect on Northwestern GPA: N/A </li>
				</div> <!--column-->
				<div class="col-md-4">
					<b>Program Summary </b><br>
					LSE offers about 20 classes per session ranging in varying levels of Economics and Political Science classes. Most classes have one midterm in the middle of the second week and one final at the end of the three-week session. Classes are 3 hours, 5 days a week and are supplemented by a daily, and often mandatory, discussion section that lasts one hour. While LSE is academically intensive in that it is time consuming, the majority of the work is left in the classroom and is easily manageable. Although these credits do not have an effect on one's Northwestern GPA, students found that by taking these classes pass/fail, it was most likely a boost to their GPA not having to take the class at Northwestern where they would be more likely to receive a lower grade.
				</div> <!--column-->
			</div> <!--row-->

			<div class="row li-text tab-pane fade " id="living">
				<div class="col-md-4 col-md-offset-2">
					<li> Students lived in LSE dorms scattered around central London.
					Some were 5 minutes away from school while others were a 30-minute walk. </li>

					<li> It is recommended to stay as close to school as possible but some students found it exciting to be exposed to different neighborhoods. </li>
				</div> <!--column-->
				<div class="col-md-4 extra-margin">
					<li> Dorms provided singles or doubles, full daily breakfast, full kitchens on floors and a lounge area. </li>
					<li> It is recommended to stay as close to school as possible but some students found it exciting to be exposed to different neighborhoods.</li>
				</div> <!--column-->
			</div> <!--row-->

			<div class="row li-text tab-pane fade" id="peers">
				<div class="col-md-4 col-md-offset-2">
				<li> School sponsored "crush" parties at the bar in the student union, a fun way to meet people the first Friday night or just a fun place for cheap drinks before a night out. </li>
				<li> Fantastic library with bean bags (perfect for a mid day nap), and floors with differing levels of noise </li>
				</div> <!--column-->
				<div class="col-md-4 extra-margin">
					<li> Extreme unlikelihood of failure unless you are taking a hard class like derivatives </li>
					<li> Bi-weekly speaker events, not very recommended </li>
					<li> "Famous" Boat Disco, a must do for at least one session </li>
				</div> <!--column-->
			</div> <!--row-->
		</div> <!--tab-content-->

	</div> <!--container-->
</section>



<section id="eating" class="bg-color">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>Eating</h1>
				<h2>Tipping at a meal is not necessary, but for good service, provide a tip of 5-10%.</h2>
			</div> <!--column-->
		</div> <!--row-->
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<div class="li-text"><p>
					<b> Day-to-Day</b><br>
					<li> Grocery Stores: Tesco is the most inexpensive and sells sandwiches as well as basic food needs </li>
					<li> Pret a Manger: A healthy, inexpensive version of fast food. There is literally one on every corner so it would almost be impossible not to have  Pret experience while in London. Stop in for a hot or cold sandwich, wrap, or cup of soup.</li><br>

					<b> Night Out</b><br>
					<li> Meat Liquor: Trendy, American themed burger place with the atmosphere of a hipster meat locker (hence the name). Go around 5 to beat the 2 hour line that all of London's young professionals will inevitably form around 6pm. Great music, fantastic burgers and an atmosphere to be experienced. </li>
					<li> Desha: Pricy, but fantastic tapas with a local crowd right off of lively Carnaby Street.</li>
					</p>
				</div>
			</div> <!--column-->
			<div class="col-md-2 sidebar hidden-sm hidden-md visible-lg">
				<div class="sidebox-1">
					<p class="heading"> Food is expensive </p>
					<p>
						London is very expensive and the food isn't so great. Spend your money on shenanigans, and save by shopping at the grocery store. There's nothing like a late night PB&J to make you feel like home. On a related note, buying alcohol at the grocery store (it's legal to drink in England if you're 18+) will save you money.
					</p>
				</div>
			</div> <!--column-->
		</div> <!--row-->
	</div> <!--container-->
</section>



<section id="nightlife" class="" >
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>Night Life</h1>
			</div> <!--column-->
		</div> <!--row-->
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<div class="li-text"><p>
					<b> Pub Life </b><br>
					<li> Pubs in London are on every corner and for the most part all very alike</li>
					<li> Best to avoid ones in very touristy areas to experience local crowds</li>
					<li> "Suits" will start to fill the pubs around 5 pm and will stay until around 7 </li>
					<li> Great places to "cheaply" pregame, start an evening, watch a match, or go after a day of class</li>
					<li> Definitely an older crowd, don't be disappointed by a lack of rowdyness, you'll have to go to the clubs for that</li><br>

					<b> Clubs </b><br>
					<li> Ministry of Sound/Fabric: Two biggest, most famous clubs for house music</li>
					<li> KOKO: Camden, converted theater, great music if you're into alternative. Nice break from techno </li>
					<li> Proud Camden: Old stables converted into a huge club with great music, great drinks and stripper poles (don't think keg, think awesome). Fantastic atmosphere, unlike anything you have seen before</li>
					<li> Piccadilly Institute: Huge club in the heart of London with different rooms for different types of music, Top 40, techno, 90s, House etc. Something for everybody and a sure fire great time</li>
					<li> Adventure Bar: Small bar but great atmosphere with a younger local crowd, great music to belt to ranging from Top 40 to Queen. Ask for Petra, a bar tender who loves Americans. Closes around 12am so a great place to start the night</li>
				</div>
			</div> <!--column-->
			<div class="col-md-2 sidebar hidden-sm hidden-md visible-lg">
				<div class="sidebox-2">
					<p class="heading"> Timing </p>
					<p>
						Most close early around 11, even on weekends
					</p>
				</div>
			</div> <!--column-->
		</div> <!--row-->
	</div> <!--container-->
</section>


<section id="gallery">
	<div class="caption">House of Paliament, London</div>
</section>


<section id="travelling" class="bg-color">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>Travelling</h1>
			</div> <!--column-->
		</div> <!--row-->
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<div class="li-text"><p>
					<b> West Minster</b><br>
					An absolute must. Get the cliche picture with Big Ben, see parliament and do an audio tour of West Minster Abbey (maybe even stick around to attend a service in the same church that Kate and William got married in. <br><br>
					<b> Tower of London</b><br>
					Visit her majesty's royal palace and fortress and experience a tour led from the experienced, and often hilarious, Beefeaters! <br><br>
					<b> Changing of the Guard</b><br>
					Only occurs from May to July but also a must see at Buckingham Palace<br><br>
					<b> Harrods</b><br>
					The greatest department store in the world and something to experience even for those who don't like to shop. The stop for lunch in the "food court" which might be mistaken for an upscale market place with options beyond what you could ever imagine. <br><br>
					<b> The London Eye</b><br>
					The best view of the city. Buy your tickets in advance for discounted rates and package deals. Explore the south bank afterwards for a cultural experience, good food and a great view of London over the Thames. <br><br>
					<b> Up on the O2</b><br>
					Have the experience to walk over one of the largest arenas in the world that has was host to the Olympics in 2012. <br><br>
					<b> Shakespeare's Globe</b><br>
					Take a trip across the river to see a play in the theater Shakespeare wrote and preformed many of his greatest works. Most shows are inexpensive and the terrace of the theater is a great place to grab a bite to eat or have a drink while overlooking the Thames. <br><br>
					<b> Theater District</b><br>
					be sure to have a sophisticated night out at a show in London's famous theater district. It is surrounded by China town and hundreds of small restaurants.  <br><br>
				</div>
			</div> <!--column-->
			<div class="col-md-2 sidebar hidden-sm hidden-md visible-lg">
				<div class="sidebox-3">
					<p class="heading"> Neighborhoods </p>
					<p>
						London has many different neighborhoods that are easy to spend a day getting lost in, looking in different stores and finding local haunts:
						<li> Covent Garden </li>
						<li> Soho </li>
						<li> Camden </li>
						<li> Holborn </li>
						<li> South Bank </li>
					</p>
				</div>
				<div class="sidebox-4">
					<p class="heading"> Markets </p>
					<p>
						The Borough Market is definite favorite open every day but busiest and greater selection on Fridays and Saturdays.
					</p>
				</div>

				<div class="sidebox-5">
					<p class="heading"> Day Trips </p>
					<p>
						<li> Stonehenge/Sailsbury </li>
						<li> Oxford </li>
					</p>
				</div>
			</div> <!--column-->
		</div> <!--row-->
	</div> <!--container-->
</section>


<section id="tips">
	<div class="container li-text">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1> Last Minute Tips </h1>
			</div> <!--column-->
		</div> <!--row-->
		<div class="row">
			<div class="col-md-4 col-md-offset-2 tip-box">
				<div class="icon icon-5"></div>
				<div class="tip-text">
					<b> Maps </b><br>
					Use the maps on the sidewalks.
				</div>
			</div> <!--column-->
			<div class="col-md-4 tip-box">
				<span class="icon icon-6"></span>
				<div class="tip-text">
					<b> Water </b><br>
					Drinking water is free at restaurants.
				</div>
			</div> <!--column-->
		</div> <!--row-->
		<div class="row">
			<div class="col-md-4 col-md-offset-2 tip-box">
				<div class="icon icon-3"></div>
				<div class="tip-text">
					<b> WiFi </b><br>
					There's more free WiFi than you might think. Sign up for an account with the network "The Cloud"--it's free and is all over the city. There's also free WiFi at Pret a Manger and Starbucks.
				</div>
			</div> <!--column-->
			<div class="col-md-4 tip-box">
				<span class="icon icon-4"></span>
				<div class="tip-text">
					<b> Buying a Phone </b><br>
					Cell Phone Warehouse is a great place to get super cheap phones ranging from 10-40 pounds depending on what kind of phone you would like. Reload money on them as needed for texting and calling.
				</div>
			</div> <!--column-->
		</div> <!--row-->
		<div class="row">
			<div class="col-md-4 col-md-offset-2 tip-box">
				<div class="icon icon-1"></div>
				<div class="tip-text">
					<b> Oyster Card </b><br>
					If you're gonna be in London for more than 24 hours, buy an Oyster Card. It will give you access to the subway, a.k.a. the London Underground or the "tube," and the buses, a.k.a. the London Overground. Unless you plan on venturing outside Central London, Zones 1 and 2 are sufficient. If you're studying for an extended period of time, we recommend you buy an unlimited, Zones 1 and 2 Oyster Card for the duration of your stay.
				</div>
			</div> <!--column-->
			<div class="col-md-4 tip-box">
				<span class="icon icon-2"></span>
				<div class="tip-text">
					<b> Budgeting </b><br>
					London is very expensive and the food isn't so great. Spend your money on shenanigans, and save by shopping at the grocery store. There's nothing like a late night PB&J to make you feel like home. On a related note, buying alcohol at the grocery store (it's legal to drink in England if you're 18+) will save you money.
				</div>
			</div> <!--column-->
		</div> <!--row-->
	</div> <!--container-->
</section>

<section id="contribute" class="bg-color" >
    <div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1> Contribute </h1>
				<h2 class="extra-margin"> See something missing? Let us know! </h2>
			</div> <!--column-->
		</div> <!--row-->
    <form role="form" method="post" action="send_suggestion.php">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Your Name">
                        <input type="text" name="program" class="form-control" placeholder="Your Program">
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Northwestern email">
                    </div>
            </div> <!-- col -->
            <div class="col-lg-4">
                <div class="form-group">
                    <textarea class="form-control" name="message" rows="7" placeholder="Shoot us your ideas"></textarea>
                </div>
                <input type="submit" name="submit" class="submit-button">
            </div>  <!-- col -->
        </div> <!-- row -->
    </form>
</section>


<section id="footer" class="text-center">
    <div class="container">
        <div class="row">
            <div class="logo1 col-md-3">
                <img src="img/asg-logo.png">
            </div> <!-- col -->
            <div class="col-md-6">
                <h3>Associated Student Government</h3>
                <p>Norris University Center, Room 3F <br>
                1999 Campus Drive, Evanston, IL 60208 </p>
                <p> Copyright &copy; 2014 Associated Student Government </p>
            </div> <!-- col -->
            <div class="logo2 col-md-3">
                <img src="img/nu-logo.png">
            </div>  <!-- col -->
        </div> <!-- row -->
    </div> <!-- container -->
</section>

</body>
</html>
